<div ng-include="'components/navbar/navbar.html'"></div>
<section flex layout="column">
      <div ng-show="books.length" layout="column" layout-fill layout-align="top center">
        <div layout="row" layout-wrap>
          <div layout-margin ng-repeat="book in books">
            <div class="overlay-container" ng-click="toggleDelete(book)">
              <img class="book-image" ng-src="{{ book.thumbnail }}" alt="{{ book.title }}"></img>
              <md-tooltip>
                {{ book.title }}
              </md-tooltip>
              <div class="overlay" ng-show="book.showDelete" layout layout-align="center center">
              <md-button class="md-fab md-mini md-warn" ng-click="delete(book)">
                <md-icon>delete</md-icon>
              </md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="!books.length" flex layout layout-align="center center" layout-padding>
        <h1 class="md-display-2 background-message">Your library is empty. Click below to add a book.</h1>
      </div>
      <md-button class="md-fab md-fab-bottom-right" ng-click="toggleRight()">
        <md-icon>add</md-icon>
      </md-button>
  </section>
  <section>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Add a book</h1>
      </md-toolbar>
      <md-content layout-padding>
        <div layout="row">
        <form ng-submit="search(bookName)">
          <md-input-container>
            <label for="bookName">Name</label>
            <input type="text" id="bookName"
                   ng-model="bookName" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button type="submit" class="md-icon-button" ng-click="search(bookName)">
          <md-icon>search</md-icon>
        </md-button>
      </div>
      <div layout="row" layout-wrap>
          <div flex="40" ng-repeat="book in searchResults" layout-margin>
            <img class="small-image md-whiteframe-z2" ng-src="{{ book.thumbnail }}" alt="{{ book.title }}" ng-click="add(book)"></img>
            <md-tooltip>
              {{ book.title }}
            </md-tooltip>
          </div>
      </div>
      </md-content>
    </md-sidenav>
  </section>
